/////////////////////////////////////////////////////////////////////////////
//
// res.rc
//
// Resources for cygwin-crashreporter-gui
//

#include "resource.h"
#include "windows.h"

#define STANDARD_DIALOG_W 317
#define STANDARD_DIALOG_H 179
// allowing for another 20 DLU or so of height for the wizard buttons gives a
// dialog box with an aspect ratio of approximately the golden ratio

#define STANDARD_DIALOG_DIMS STANDARD_DIALOG_W, STANDARD_DIALOG_H
#define STANDARD_HEADICON_X (STANDARD_DIALOG_W - 27)

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Dialogs
//

IDD_SPLASH DIALOG  0, 0, STANDARD_DIALOG_DIMS
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cygwin crash reporter"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "We're sorry.  Something went wrong!"
                    "\r\n\r\n",
                    IDC_BOLD, 115, 1, STANDARD_DIALOG_W - 115, 16
    LTEXT           "The Cygwin crash reporter will submit a crash report for you."
                    "\r\n\r\n",
                    IDC_STATIC, 115, 17, STANDARD_DIALOG_W - 115, 16
    LTEXT           "Note: crash reports are public."
                    "\r\n\r\n",
                    IDC_BOLD, 115, 33, STANDARD_DIALOG_W - 115, 16
    LTEXT           "If you were working with personal or confidential information when the crash occurred, "
                    "you should not submit a crash report."
                    "\r\n\r\n"
                    "Otherwise, please help to improve Cygwin by submitting a crash report."
                    "\r\n\r\n",
                    IDC_STATIC, 115, 49, STANDARD_DIALOG_W - 115, 100
    LTEXT           "",
                    IDC_PROCESS_INFO, 115, 99, STANDARD_DIALOG_W - 115, 16
    ICON            IDI_CYGWIN, IDC_STATIC, 4, 6, 0, 0, SS_ICON | SS_REALSIZEIMAGE
    CTEXT           PACKAGE_VERSION,
                    IDC_STATIC, 5, 170, 110, 8
END

IDD_NOTES DIALOG  0, 0, STANDARD_DIALOG_DIMS
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cygwin crash reporter"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_CYGWIN, IDC_STATIC, STANDARD_HEADICON_X, 0, 21, 20
    LTEXT           "Add notes", IDC_STATIC, 7, 0, 258, 8, NOT WS_GROUP
    LTEXT           "You can describe what you were doing when the crash occurred, "
                    "or how to reproduce it."
                    "",
                    IDC_STATIC, 21, 9, 239, 16, NOT WS_GROUP
    CONTROL         "", IDC_STATIC, "Static", SS_BLACKFRAME | SS_SUNKEN, 0, 28, STANDARD_DIALOG_W, 1
    EDITTEXT        IDC_NOTES_EDIT, 8, 40, STANDARD_DIALOG_W - 16, STANDARD_DIALOG_H - 41, ES_LEFT | ES_MULTILINE | ES_WANTRETURN | WS_BORDER | ES_AUTOHSCROLL | ES_AUTOVSCROLL
END

IDD_PROGRESS DIALOG  0, 0, STANDARD_DIALOG_DIMS
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cygwin crash reporter"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_CYGWIN, IDC_STATIC, STANDARD_HEADICON_X, 0, 21, 20
    LTEXT           "Crash reporting in progress", IDC_STATIC, 7, 0, 258, 8, NOT WS_GROUP
    LTEXT           "Collecting crash report data and uploading...",
                    IDC_STATIC, 21, 9, 239, 16, NOT WS_GROUP
    CONTROL         "", IDC_STATIC, "Static", SS_BLACKFRAME | SS_SUNKEN, 0, 28, STANDARD_DIALOG_W, 1
    CONTROL         "", IDC_PROGRESS_ANIMATION, "Static", SS_BLACKFRAME | SS_SUNKEN, 8, 40, STANDARD_DIALOG_W - 16, STANDARD_DIALOG_H - 41
END

IDD_DONE DIALOG  0, 0, STANDARD_DIALOG_DIMS
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cygwin crash reporter"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_CYGWIN, IDC_STATIC, STANDARD_HEADICON_X, 0, 21, 20
    LTEXT           "Crash reporting completed", IDC_STATIC, 7, 0, 258, 8, NOT WS_GROUP
    LTEXT           "Thank you for helping to make Cygwin better!",
                    IDC_STATIC, 21, 9, 239, 16, NOT WS_GROUP
    CONTROL         "", IDC_STATIC, "Static", SS_BLACKFRAME | SS_SUNKEN, 0, 28, STANDARD_DIALOG_W, 1
    LTEXT           "Minidump file status unknown", IDC_DUMP_STATUS, 7, 72, 239, 8, NOT WS_GROUP | SS_NOTIFY
    LTEXT           "Upload status unknown ", IDC_UPLOAD_STATUS, 7, 89, 239, 8, NOT WS_GROUP | SS_NOTIFY
    LTEXT           "Report code is unknown", IDC_UPLOAD_REPORT_CODE, 7, 106, 239, 8, NOT WS_GROUP | SS_NOTIFY
END

/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "cygwin-crashreporter-gui.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Icons
//

IDI_HIPPO               ICON        "hippo.ico"
IDI_CYGWIN              ICON        "cygwin.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
//

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
END
